<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/columbia.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/hummel.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/koctas.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/lacoste.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/ikea.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/nike.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>