<div class="tab-pane fade show active" id="tab-pane-1">
    <h4 class="mb-3">Ürün Açıklaması</h4>
    <p>Ayağınızı saran konforuyla hem günlük hayatta hem de spor yaparken rahatlığı hissedeceksiniz. </p>
    <p>En yeni teknolojiler kullanılarak geliştirilen bu ayakkabı size geleceği vadediyor.</p>
</div>