<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/online-shop-website-template/img/Discount3.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">%15 İndirim</h6>
                    <h3 class="text-white mb-3">Yazlık Kıyafetler</h3>
                    <a href="" class="btn btn-primary">Fırsatı Kaçırma</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/online-shop-website-template/img/Discount4.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">%25 İndirim</h6>
                    <h3 class="text-white mb-3">Özel Günler</h3>
                    <a href="" class="btn btn-primary">Hemen Al</a>
                </div>
            </div>
        </div>
    </div>
</div>